openai
python-dotenv
streamlit
#BytesIO
pandas
#import streamlit as st
# from dotenv import dotenv_values
# from openai import OpenAI
# import numpy as np
# from qdrant_client import QdrantClient
# from qdrant_client.models import PointStruct, Distance, VectorParams
#requests